<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.mapper.AdminUserMapper">
    <select id="countUser" resultType="java.lang.Integer">
        select count(*) from sys_user;
    </select>

    <select id="countDayToDay" resultType="java.lang.Integer" >
        select
            count(distinct a.user_id)
        from
            back_user_login a
            left join
            middle_user_role b
            on
            a.user_id = b.user_id
        where
            b.role_id = 2
            and
            a.login_time between #{start} and #{end}
    </select>

    <select id="selectAllUsers" resultType="com.example.demo.entity.User">
        select
            *
        from
            sys_user;
    </select>

    <update id="updateUserStatus">
        update
            sys_user
        set
            status = #{status}
        where
            user_id = #{userId}
    </update>

    <select id="selectUserById"  resultType="com.example.demo.entity.User">
        select
            *
        from
            sys_user
        where
            user_id = #{userId}
    </select>

</mapper>
