<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.mapper.AdminOrderMapper">

    <select id="selectAllOrders" resultType="com.example.demo.dto.OrderMessage">
        select
            *
        from
            sys_order
    </select>

    <select id="selectRemarkAndPriceFromSent" resultType="com.example.demo.dto.OrderRemarkAndPrice">
        select
            remark,price
        from
            sys_order_sent
        where
            order_id = #{orderId}
    </select>
    <select id="selectRemarkAndPriceFromSubstitution" resultType="com.example.demo.dto.OrderRemarkAndPrice">
        select
            remark,price
        from
            sys_order_substitution
        where
            order_id = #{orderId}
    </select>
    <select id="selectRemarkAndPriceFromTakeAway" resultType="com.example.demo.dto.OrderRemarkAndPrice">
        select
            remark,price
        from
            sys_order_takeaway
        where
            order_id = #{orderId}
    </select>
    <select id="selectRemarkAndPriceFromUniversal" resultType="com.example.demo.dto.OrderRemarkAndPrice">
        select
            remark,price
        from
            sys_order_universal_service
        where
            order_id = #{orderId}
    </select>

    <select id="selectOrderTypeById" resultType="Integer">
        select
            order_type
        from
            sys_order
        where
            order_id = #{id}
    </select>
    <delete id="deleteFromOrderById">
        delete from
            sys_order
        where
            order_id = #{id}
    </delete>

    <delete id="deleteFromSentByOrderId">
        delete from
            sys_order_sent
        where
            order_id = #{id}
    </delete>
    <delete id="deleteFromSubstitutionByOrderId">
        delete from
            sys_order_substitution
        where
            order_id = #{id}
    </delete>
    <delete id="deleteFromTakeAwayByOrderId">
        delete from
            sys_order_takeAway
        where
            order_id = #{id}
    </delete>
    <delete id="deleteFromUniversalByOrderId">
        delete from
            sys_order_universal
        where
            order_id = #{id}
    </delete>

    <select id="countPostOrder" resultType="java.lang.Integer">
        select
            count(distinct order_id)
        from
            sys_order
    </select>
    <select id="countPickUpOrder" resultType="java.lang.Integer">
        select
            count(distinct order_id)
        from
            sys_order
        where
            order_status = 1
    </select>
    <select id="countFinishOrder" resultType="java.lang.Integer">
        select
            count(distinct order_id)
        from
            sys_order
        where
            order_status = 2
    </select>

</mapper>
