<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.mapper.cUserMapper">
    <insert id="updateAddress">
        insert sys_user_address(address_description,
                                     address_phone,
                                    address_name,user_id ) values(#{address},#{addressPhone},#{addressName},#{userId})

    </insert>


    <delete id="deleteAddress">
        delete from sys_user_address where address_id = #{addressId} and user_id=#{userId}
    </delete>


</mapper>