<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.UserMapper">

    <select id="selectPermissionByUserId" resultType="string">
        select d.permission_name from sys_user a
            left join middle_user_role b
            on a.user_id=b.user_id

            left join middle_role_permission c
            on b.role_id=c.role_id

            left join sys_permission d
            on c.permission_id=d.permission_id
where a.user_id=#{userId}
    </select>

    <insert id="insertMiddleUserRole" >
        insert into middle_user_role(user_id,role_id) values (#{userId},     #{roleId})

    </insert>
    <select id="selectRoleIdByRoleName" resultType="java.lang.Integer">
        select role_id from sys_role where role_name=#{roleName}
    </select>

    <select id="selectMiddleIdByUserId" resultType="java.lang.Integer">
        select id from middle_user_role where user_id=#{userId} and role_id=(select role_id from sys_role where role_name="骑手")
    </select>

    <delete id="deleteMiddleRoleById">
        delete from middle_user_role where id=#{Id}
    </delete>
</mapper>
